* text=auto

.gitattributes text eol=lf
.gitignore text eol=lf

*.py text eol=lf
*.rs text eol=lf
*.js text eol=lf
*.jsx text eol=lf
*.ts text eol=lf
*.tsx text eol=lf
*.css text eol=lf
*.html text eol=lf
*.json text eol=lf
*.md text eol=lf
*.toml text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.cfg text eol=lf
*.ini text eol=lf
*.lock text eol=lf
*.gcode text eol=lf

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.woff2 binary
*.zip binary
*.3mf binary
*.stl binary
*.exe binary
*.dll binary
